html{
    font-size: 62.5%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrap{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.timer{
    font-size: 6.5rem;
    font-weight: 600;  
}
.btn{
    background-color: rgba(235, 146, 114, 0.979);
    font-size: 3.5rem;
    font-weight: 600; 
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: .3rem; 
}
.btn:active{
    transform: scale(.9);
}

